In [5]:
from google.colab import files
uploaded = files.upload()

ModuleNotFoundError: No module named 'google.colab'

In [3]:
import pandas as pd
df = pd.read_csv("Salary Data.csv")

/tmp/ipykernel_280321/83739479.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

**Data Visualization**

In [4]:
print ("first 5 samples are")
df.head()

first 5 samples are

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [16]:
df.shape

(375, 6)

In [6]:
dfd=df[df.duplicated()]
#find out the duplicate samples
dfd.shape

(50, 6)

**Remove duplicate samples**

In [8]:
df1 = df.drop_duplicates()
df1.shape

(325, 6)

**Remove empty values in each colums**

In [9]:
df1.isnull().sum()

Age                    1
Gender                 1
Education Level        1
Job Title              1
Years of Experience    1
Salary                 1
dtype: int64

In [21]:
df1.dropna(how='any',inplace=True)
df1.shape

(324, 6)

In [24]:
df1.describe()

              Age  Years of Experience         Salary
count  324.000000           324.000000     324.000000
mean    37.382716            10.058642   99985.648148
std      7.185844             6.650470   48652.271440
min     23.000000             0.000000     350.000000
25%     31.000000             4.000000   55000.000000
50%     36.500000             9.000000   95000.000000
75%     44.000000            16.000000  140000.000000
max     53.000000            25.000000  250000.000000

In [102]:
min = df['Salary']<= 0
min

negative_salaries = df[df['Salary'] <= 0]
negative_salaries

Empty DataFrame
Columns: [Age, Gender, Education Level, Job Title, Years of Experience, Salary]
Index: []

**Remove the samples with negative salaries**

In [103]:
df3 = df1[df1['Salary'] >= 0]

**OneHot Encoding for genders**

**Encoding other features numerically**

In [142]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df3['Gender_Encode'] = label_encoder.fit_transform(df3['Gender'])
df3['Education_Level_Encode'] = label_encoder.fit_transform(df3['Education Level'])
df3['Job_Title_Encode'] = label_encoder.fit_transform(df3['Job Title'])

In [143]:
x=df3[['Age','Gender_Encode','Education_Level_Encode', 'Job_Title_Encode','Years of Experience']]
y=df3['Salary']
x.head()

,Age,Gender_Encode,Education_Level_Encode,Job_Title_Encode,Years of Experience
0,32.0,1,0,159,5.0
1,28.0,0,1,17,3.0
2,45.0,1,2,130,15.0
3,36.0,0,0,101,7.0
4,52.0,1,1,22,20.0

**Training model using linear regression from sklearn**

In [144]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((259, 5), (65, 5), (259,), (65,))

In [130]:
from sklearn.linear_model import LinearRegression
LinearRegression=LinearRegression()
LinearRegression.fit(x_train,y_train)

LinearRegression()

In [131]:
y_pred=LinearRegression.predict(x_test)
y_pred

array([117415.91344602, 125562.80742758,  48965.15386167, 128739.34887988,
       106828.49930535,  99654.76748821,  49101.27883652,  57130.71108104,
       166333.69009266,  43112.61060113,  40544.18249367, 122553.217185  ,
       107631.15450848, 155580.48335296,  83652.23602446, 170890.28450907,
        98984.50106226, 109338.33008328,  42267.86835535,  48089.87647812,
        75674.93528581,  64499.29874156,  63619.2494321 ,  31543.41552147,
       188376.92844437,  90340.76921722, 155285.91529198, 160863.57809872,
       185183.73163709,  34741.26224478, 124850.6230462 , 165106.94121635,
        87085.00622186, 155425.69514031, 149190.25441885,  45729.74800187,
        88475.39474629,  92025.62668073,  97997.32557607,  40411.112659  ,
        89995.79796521,  53873.21977084, 108677.48549927,  54590.96778663,
        36497.92729223,  48611.85493217, 129193.72126941,  43102.58902589,
       162383.16672117,  81874.95829259, 157771.0301154 ,  43984.89040816,
        59950.21740617,  94023.81456492,  84929.3880918 ,  60296.00325465,
        91816.87952546,  56177.1258728 ,  75243.32853162, 104701.69952733,
       117279.78847117,  83396.82187583, 177743.76102871,  72275.14427419,
        86307.61361918])

In [132]:
y_test

132    100000.0
108    100000.0
137     50000.0
9      110000.0
181    105000.0
         ...
104     80000.0
233     85000.0
60     170000.0
94      75000.0
278     95000.0
Name: Salary, Length: 65, dtype: float64

In [133]:
import sklearn
import numpy as np
mean_square_error=sklearn.metrics.mean_squared_error(y_test,y_pred)

root_mean_square_error=np.sqrt(mean_square_error)
root_mean_square_error

# root_mean_square_error=sklearn.metrics.root_mean_squared_error(y_true, y_pred)
# root_mean_square_error

14344.132449097833

In [122]:
r2_score=sklearn.metrics.r2_score(y_test,y_pred)
r2_score

0.8911231066517087